@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  --main-bg: #dedede;
  --font-weight: 700;
  --font-family: "Ojuju", sans-serif;
  --pad-y-x: 12px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #2f2e2e;
}
body {
  background-color: var(--main-bg);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: normal;
  font-size: 2rem;
  padding: var(--pad-y-x);
}

nav {
  border-bottom: 0.1rem solid #2f2e2e;
  padding: 20px 0;
}

.--flex {
  display: flex;
  gap: 2rem;
}
